<section class="bg-main-light p-3 my-5 shadow rounded-4">
  <h1 class="h2 f-weight-600 text-main text-center mt-2 mb-3">Forgot Password</h1>

  @if (step === 1 ) {
  <form [formGroup]="verifyEmail" (ngSubmit)="setEmailSubmit()">
    <div class="my-3">
      <label for="email">Email</label>
      <input
        [ngClass]="{
          'is-valid':
            !verifyEmail.get('email')?.errors &&
            (verifyEmail.get('email')?.touched ||
              verifyEmail.get('email')?.dirty),
          'is-invalid':
            verifyEmail.get('email')?.errors &&
            (verifyEmail.get('email')?.touched ||
              verifyEmail.get('email')?.dirty)
        }"
        formControlName="email"
        type="email"
        id="email"
        class="form-control mt-1"
      />

      @if (verifyEmail.get('email')?.errors &&
      (verifyEmail.get('email')?.touched || verifyEmail.get('email')?.dirty)) {
      <div class="alert alert-danger">
        @if (verifyEmail.get('email')?.getError('required') ) {
        <p class="m-0">Email is Required</p>
        } @if (verifyEmail.get('email')?.getError('email') ) {
        <p class="m-0">Enter Valid Email</p>
        }
      </div>
      }
    </div>

    <div class="my-2">
      <div class="d-flex justify-content-between align-items-center mt-3">
        <button [disabled]="verifyEmail.invalid" class="btn-main d-block">
          Verify Email
        </button>
      </div>
    </div>
  </form>
  } 
    
  @else if (step === 2) {
  <form [formGroup]="verifyCode"(ngSubmit)="setCodeSubmit()">
    <div class="my-3">
      <label for="resetCode">Reset Code</label>
      <input
        [ngClass]="{
          'is-valid':
            !verifyCode.get('resetCode')?.errors &&
            (verifyCode.get('resetCode')?.touched ||
              verifyCode.get('resetCode')?.dirty),
          'is-invalid':
            verifyCode.get('resetCode')?.errors &&
            (verifyCode.get('resetCode')?.touched ||
              verifyCode.get('resetCode')?.dirty)
        }"
        type="text"
        formControlName="resetCode"
        id="resetCode"
        class="form-control mt-1"
      />
      @if (verifyCode.get('resetCode')?.errors
      &&(verifyCode.get('resetCode')?.touched ||
      verifyCode.get('resetCode')?.dirty)) {
      <div class="alert alert-danger">
        @if (verifyCode.get('resetCode')?.getError('required') ) {

        <p class="m-0">Reset Code is Required</p>
        } @if (verifyCode.get('resetCode')?.getError('pattern') ) {
        <p class="m-0">Code must be at least 6 chars</p>
        }
      </div>
      }
    </div>
    <div class="my-2">
      <div class="d-flex justify-content-between align-items-center mt-3">
        <button [disabled]="verifyCode.invalid" class="btn-main d-block">
          Verify Code
        </button>
      </div>
    </div>
  </form>
  } @else if (step === 3) {
  <form [formGroup]="restePassword" (ngSubmit)="setNewPasswordSubmit()">
    <div class="my-3">
      <label for="email">Email</label>
      <input
      readonly
        [ngClass]="{
          'is-valid':
            !restePassword.get('email')?.errors &&
            (restePassword.get('email')?.touched ||
              restePassword.get('email')?.dirty),
          'is-invalid':
            restePassword.get('email')?.errors &&
            (restePassword.get('email')?.touched ||
              restePassword.get('email')?.dirty)
        }"
        
        formControlName="email"
        type="email"
        id="email"
        class="form-control mt-1"
      />

      @if (restePassword.get('email')?.errors &&
      (restePassword.get('email')?.touched ||
      restePassword.get('email')?.dirty)) {
      <div class="alert alert-danger">
        @if (restePassword.get('email')?.getError('required') ) {
        <p class="m-0">Email is Required</p>
        } @if (restePassword.get('email')?.getError('email') ) {
        <p class="m-0">Enter Valid Email</p>
        }
      </div>
      }
    </div>
    <div class="my-3">
      <label for="newPassword">New Password</label>
      <input
        [ngClass]="{
          'is-valid':
            !restePassword.get('newPassword')?.errors &&
            (restePassword.get('newPassword')?.touched ||
              restePassword.get('newPassword')?.dirty),
          'is-invalid':
            restePassword.get('newPassword')?.errors &&
            (restePassword.get('newPassword')?.touched ||
              restePassword.get('newPassword')?.dirty)
        }"
        type="Password"
        formControlName="newPassword"
        id="newPassword"
        class="form-control mt-1"
      />
      @if (restePassword.get('newPassword')?.errors
      &&(restePassword.get('newPassword')?.touched ||
      restePassword.get('newPassword')?.dirty)) {
      <div class="alert alert-danger">
        @if (restePassword.get('newPassword')?.getError('required') ) {

        <p class="m-0">New Password is Required</p>
        } @if (restePassword.get('newPassword')?.getError('pattern') ) {
        <p class="m-0">New Password must be at least 6 chars</p>
        }
      </div>
      }
    </div>
    <div class="my-2">
      <div class="d-flex justify-content-between align-items-center mt-3">
        <button [disabled]="restePassword.invalid" class="btn-main d-block">
          Verify Acoint
        </button>
      </div>
    </div>
  </form>
  }
</section>
