section h3{
    font-weight: 600;
}
section h2{
    font-weight: 800;
    text-align: center;
    margin-block: 2rem;
    position: relative;
}
section h2::after{
    position: absolute;
    content: '';
    background-color: #0AAD0A;
    width: 3.5rem;
    height: .3125rem;
    border-bottom-right-radius: .625rem;
    border-top-left-radius: .625rem;
    left:  46%;
    bottom: -0.625rem;
    transition: 0.6s;
}
section h2:hover::after{
    width: 6.25rem;
}