.details h2{
    font-weight: 600;
}
.details h3{
    font-weight: 600;
}
.details button{
    font-weight: 800;
}
.weight-600 {
    font-weight: 600;
}

section h1{
    font-weight: 800;
    text-align: center;
    margin-block:  1.5625rem;
    position: relative;
}
section h1::after{
    position: absolute;
    content: '';
    background-color: #0AAD0A;
    width: 3.125rem;
    height: .3125rem;
    border-bottom-right-radius: .625rem;
    border-top-left-radius: .625rem;
    left:  46%;
    bottom: -0.625rem;
    transition: 0.5s;
}
section h1:hover::after{
    width: 6.25rem;
}