section h1{
    text-align: center;
    position: relative;
}
section h1::after{
    position: absolute;
    content: '';
    background-color: #0AAD0A;
    width: 5rem;
    height: .3125rem;
    border-bottom-right-radius: .625rem;
    border-top-left-radius: .625rem;
    left:  43%;
    bottom: -0.9375rem;
    transition: 0.6s;
}
section h1:hover::after{
    width: 7.5rem;
}
